In [10]:
import numpy as np
import pandas as pd

#### Load the matrices

In [11]:
battery_expenditure = pd.read_csv('battery_expenditure_matrix.csv')
distance_matrix = pd.read_csv('distance_matrix.csv')
time_matrix = pd.read_csv('time_matrix.csv')

#### Generating random combination

In [12]:
num_sequences=20
start_node=0
end_node=16
battery_threshold=10

w1=0.5
w2=0.5

In [13]:
def generate_random_sequences(num_sequences, battery_threshold=25):
    sequences = []
    node_list = list(range(17))

    for _ in range(num_sequences):
        while True:
            shuffled_nodes = np.random.permutation(node_list[1:-1])
            sequence = [start_node] + shuffled_nodes.tolist() + [end_node]
            battery_level = 78
            valid_sequence = True
            
            for i in range(len(sequence) - 1):
                node1 = sequence[i]
                node2 = sequence[i + 1]
                battery_consumption = battery_expenditure.iloc[node1, node2]
                battery_level -= battery_consumption
                if battery_level < battery_threshold:
                    valid_sequence = False
                    break
            
            if valid_sequence:
                sequences.append(sequence)
                break

    return sequences

In [14]:
random_seq=generate_random_sequences(num_sequences)
random_seq

[[0, 13, 1, 15, 3, 14, 8, 12, 5, 9, 2, 6, 4, 10, 7, 11, 16],
 [0, 3, 13, 11, 9, 8, 7, 4, 6, 2, 5, 1, 10, 15, 12, 14, 16],
 [0, 5, 10, 1, 15, 7, 14, 11, 13, 12, 4, 6, 3, 8, 9, 2, 16],
 [0, 4, 1, 14, 6, 9, 10, 8, 3, 13, 11, 7, 5, 2, 12, 15, 16],
 [0, 10, 1, 7, 15, 2, 3, 13, 12, 6, 9, 5, 11, 14, 4, 8, 16],
 [0, 15, 4, 13, 11, 3, 9, 5, 1, 2, 7, 12, 8, 6, 14, 10, 16],
 [0, 7, 15, 4, 12, 11, 10, 3, 1, 13, 8, 14, 5, 9, 6, 2, 16],
 [0, 6, 10, 8, 4, 9, 13, 3, 11, 5, 1, 12, 14, 15, 2, 7, 16],
 [0, 5, 15, 11, 10, 9, 6, 1, 3, 8, 12, 2, 4, 13, 14, 7, 16],
 [0, 5, 12, 11, 7, 2, 14, 6, 10, 9, 8, 15, 3, 13, 4, 1, 16],
 [0, 5, 1, 12, 14, 15, 3, 8, 2, 10, 9, 4, 11, 6, 7, 13, 16],
 [0, 8, 7, 1, 10, 4, 3, 14, 5, 15, 12, 11, 6, 9, 2, 13, 16],
 [0, 8, 13, 1, 11, 9, 3, 10, 12, 4, 5, 6, 2, 15, 7, 14, 16],
 [0, 8, 11, 10, 13, 2, 5, 3, 15, 9, 14, 1, 6, 4, 7, 12, 16],
 [0, 8, 12, 14, 4, 2, 10, 5, 7, 6, 11, 9, 3, 13, 1, 15, 16],
 [0, 15, 2, 8, 7, 13, 1, 10, 5, 14, 6, 12, 4, 11, 9, 3, 16],
 [0, 15, 13, 9, 1, 7, 8, 12, 10, 6, 11, 3, 4, 5, 2, 14, 16],
 [0, 12, 1, 5, 8, 14, 15, 2, 7, 10, 13, 6, 11, 4, 3, 9, 16],
 [0, 10, 8, 6, 15, 3, 14, 1, 11, 4, 9, 13, 2, 12, 7, 5, 16],
 [0, 9, 14, 6, 8, 13, 15, 1, 4, 7, 11, 5, 2, 10, 12, 3, 16]]

In [15]:
def calculate_cost(sequence, time_matrix, distance_matrix, w1, w2):
    cost1 = 0
    cost2 = 0
    cost = 0

    for i in range(len(sequence) - 1):
        node1 = sequence[i]
        node2 = sequence[i + 1]

        cost1 += time_matrix.iloc[node1, node2]
        cost2 += distance_matrix.iloc[node1, node2]

        cost += (w1 * time_matrix.iloc[node1, node2]) + (w2 * distance_matrix.iloc[node1, node2])

    return pd.DataFrame({'Σt': [cost1], 'Σd': [cost2], 'w1*Σt+w2*Σd': [cost]})

In [16]:
cost_for_each_sequence = [calculate_cost(sequence, time_matrix, distance_matrix, w1, w2) for sequence in random_seq]
result_df = pd.concat(cost_for_each_sequence, ignore_index=True)

In [17]:
result_df

          Σt        Σd  w1*Σt+w2*Σd
0   4.665861  225.1730   114.919431
1   5.874583  281.6449   143.759742
2   4.998583  247.4719   126.235242
3   5.661722  270.9184   138.290061
4   5.836806  286.6861   146.261453
5   5.305028  260.0422   132.673614
6   5.402861  261.2898   133.346331
7   5.627750  276.0086   140.818175
8   6.208111  300.7555   153.481806
9   4.918944  242.4970   123.707972
10  5.409972  269.4557   137.432836
11  5.066583  252.0201   128.543342
12  5.524222  261.9698   133.747011
13  6.052167  292.4748   149.263483
14  5.288944  251.1841   128.236522
15  4.916750  235.8669   120.391825
16  5.486333  267.4989   136.492617
17  5.567083  273.0948   139.330942
18  5.790639  283.0952   144.442919
19  5.637056  270.0596   137.848328